# Ignore node_modules folder
node_modules/

# Ignore environment variables
.env

# Ignore environment variables
.validate

# Ignore logs
logs/
*.log

# Ignore build files
dist/
build/

# Ignore system files
.DS_Store
Thumbs.db